{
    "log_dir": "logs",
    "learning_rate":  0.001,
    "verbose": 2,
    "cache": false,
    "seed": 42,
    "prefetch": 1,

    "meta": {
        "allow_cpu": false,
        "max_threads": -1,
        "exclude_configs": [],
        "mem_trace": {
            "enabled": false,
            "delay": 300,
            "top": 10,
            "trace": 1
        }
    }
}